<div class="container mt-4">
    <h2>Add A Sagacious Quote Here!</h2>
  <div class="container mt-3 mb-2 ">
    <form (ngSubmit)='submitQuote(quoteForm) ;quoteForm.resetForm({})' #quoteForm= 'ngForm' class="w-60 mt-5 mb-5">
        <div class="form-group ">
            <label for="author">Name Of Author:</label>
            <input type="text" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' class="form-control" required>
           <div [hidden] = "author.valid || author.pristine" class ="alert alert-danger">
               <p>Author is required</p>
           </div>
        </div>
        <div class="form-group">
            <label for="description">Quote:</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>A Quote is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Submitted By:</label>
            <input type="text" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' class="form-control" required>
           <div [hidden] = "name.valid || name.pristine" class ="alert alert-danger">
               <p>Name is required</p>
           </div>
        </div>

        <button type="submit" class="btn bg-success text-light mt-4" >Add Quote</button>
    </form>
</div>
