<div class="container-fluid text-center text-light">
  <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
        <div class="card text-white bg-dark h-100">
            <div class="card-header">
                Sagacious Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
               
                <footer class="blockquote-footer mt-3"><cite title="Source Title">Author </cite></footer>
                </blockquote>
            </div>
            <div class="card-footer">
                <app-quote-details></app-quote-details>
            </div>
        </div>
    </div>
</div>
      </div>
  </div>
