<div class="container-fluid text-center text-light">
  <div class="container">
      <div class="row">
          <!--Directive for looping-->
        <div
         *ngFor='let quote of myQuotes; let i = index' 
        class="col-md-4 mb-4">
        <div class="card text-white bg-success h-100">
            <div class="card-header">
                <h5>Sagacious Quote</h5>
            </div>
            <div class="card-body">

                <blockquote class="blockquote mb-0"><!--Quoted Elements-->
                    <p>{{quote.description}}</p>
                
                    <footer class="blockquote-footer mt-3 text-light"><cite title="Source Title">Author </cite></footer>
                </blockquote>
            
            </div>
            <div class="card-footer">
                <app-quote-details></app-quote-details>
            </div>

        </div>
        </div>
      </div>
    </div>
</div>
