<div class="card-subtitle text-muted text-center text-light mb-3">
    <span>Added: days ago </span>
    </div>
    <div class="container-fluid text-light">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">

                
              <button type="button" class="btn btn-sm btn-success"><i class="fa fa-thumbs-up" (click)="incrementLikes()">{{quote.likes}}</i></button>  
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-thumbs-down" (click)="incrementDislikes()">{{quote.dislikes}}</i></button>  
            </div>
          </div>
         
        </div>
        <div class="col-md-3 text-right">
          <button (click)='quoteDelete(true)' id="del">Delete</button>
        </div>
      </div>
    </div>
