@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); 

span{
    color: azure;
}

#remove{
    background-color: red;
    color: white;
    border-radius: 15%;
}